[project]
	description = Assets for development on CodePen
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/fox-tails
[access "refs/for/refs/*"]
	read = group user/fox-tails
	push = group user/fox-tails
	label-Code-Review = -2..+2 group user/fox-tails
	label-Verified = -1..+1 group user/fox-tails
	rebase = group user/fox-tails
	removeReviewer = group user/fox-tails
	submit = group user/fox-tails
[access "refs/heads/*"]
	read = group user/fox-tails
	create = group user/fox-tails
	push = +force group user/fox-tails
	pushMerge = group user/fox-tails
[access "refs/tags/*"]
	push = +force group user/fox-tails
	pushTag = group user/fox-tails
	pushSignedTag = group user/fox-tails
